/*#container{
	border:1px solid red;
	width:100%;
	background-color:#CCC;
padding:10px;
	
	
}*/
*{
 margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
body{
  background-image:url('https://raw.githubusercontent.com/sadvani06/Quiz/master/Images/My-Little-Pony-Wallpaper.jpg');
  background-size:cover;
 
}
  

/*#container{
	width: 1000px;
	height:200px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
}*/
.box{
  
  width:400px;
	height:300px;
	border:solid 1px #939;
	background-color:#CCF;
	border-radius:10px;
	text-align:center;
	padding:5px;
	display: inline-block;
   
}

#nextButton{
  border:solid 1px #939;
	background-color:#CCF;
  border-radius:5px;
  width:200px;
  height:100px;
  
}

h2{
font-family: 'Arvo', serif;
}

.question{
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

input{
	font-family: 'PT Sans', sans-serif;
}

li{
	list-style:none;
}
